
  <mat-drawer #drawer opened="">
    <mat-list>
      <mat-list-item (click)="toggleTimeline(1)">
        <mat-icon matListIcon>opacity</mat-icon>
        <h3 matLine>DashBoard</h3>
      </mat-list-item>
      <mat-list-item (click)="toggleTimeline(2)">
        <mat-icon matListIcon>opacity</mat-icon>
        <h3 matLine>Manage Spot Instances</h3>
      </mat-list-item>
      <mat-list-item (click)="toggleTimeline(3)">
        <mat-icon matListIcon>opacity</mat-icon>
        <h3 matLine>Spot Request Predictor</h3>
      </mat-list-item>
      <mat-list-item (click)="toggleTimeline(4)">
        <mat-icon matListIcon>opacity</mat-icon>
        <h3 matLine>Schedule Spot Requests</h3>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

