<mat-card class="schedular-card">
  <mat-card-header>
    <mat-card-title>ScheduleSpotInstance</mat-card-title>
  </mat-card-header>
  <mat-card-content>
<form class="example-form" [formGroup]="schedularForm">
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Region" formControlName="region" required>
      <mat-option *ngFor="let region of regions" [value]="region">
        {{region}}
      </mat-option>
    </mat-select>
    <!--input matInput placeholder="" formControlName="bidPrice" name="bidPrice"-->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Instance Type" formControlName="instanceType" required>
      <mat-option *ngFor="let instanceType of instanceTypes" [value]="instanceType">
        {{instanceType}}
      </mat-option>
    </mat-select>
    <!--textarea matInput placeholder="Instance Type" formControlName="instanceType" name="instanceType"></textarea-->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Number of Instances" formControlName="numOfInstances" name="numOfInstances"></textarea>
  </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-select formControlName="amiId" placeholder="AMI ID" #singleSelect>
        <ngx-mat-select-search formControlName="amiFilterId"></ngx-mat-select-search>
        <mat-option *ngFor="let bank of filteredAmis | async" [value]="bank.id">
          {{bank.desc}}
        </mat-option>
      </mat-select>
    </mat-form-field>

      <!--mat-error *ngIf="animalControl.hasError('required')">Please choose an animal</mat-error>
      <mat-hint>{{animalControl.value?.sound}}</mat-hint-->

  <!--textarea-- matInput placeholder="AMI ID" formControlName="amiId" name="amiId"></textarea-->

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Security Group" formControlName="securityGroup" required>
      <mat-option *ngFor="let securityGroup of securityGroups" [value]="securityGroup.name">
        {{securityGroup.name}}
      </mat-option>
    </mat-select>
    <!--textarea matInput placeholder="Security Group" formControlName="securityGroup" name="securityGroup"></textarea-->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <!--textarea matInput placeholder="SSH KeyPair" [formControlName]="sshKeyPairs" name="sshKeyPair"></textarea-->
    <mat-select placeholder="SSH Key Pair" formControlName="sshKeyPair" required>
      <mat-option *ngFor="let sshKeyPair of sshKeyPairs" [value]="sshKeyPair">
        {{sshKeyPair}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Bid Price" formControlName="bidPrice" name="bidPrice">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="startPicker" placeholder="Schedule Start Date" formControlName="scheduleStartDate">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="endPicker" placeholder="Schedule End Date" formControlName="scheduleEndDate">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Days of Week" formControlName="scheduleDays" multiple>
      <mat-option *ngFor="let day of keys(daysOfWeek)" [value]="day">{{daysOfWeek[day]}}</mat-option>
    </mat-select>
  </mat-form-field>


</form>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="schedule()" color="primary">Schedule</button>
  </mat-card-actions>

</mat-card>
