<mat-card class="schedular-card" style="padding: 10px;">
  <mat-card-header>
    <mat-card-title><h2>Schedule Spot Instance</h2></mat-card-title>
  </mat-card-header>
<mat-card-content>
<form class="example-form" [formGroup]="schedularForm">
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Region" formControlName="region" required>
      <mat-option *ngFor="let region of regions" [value]="region">
        {{region}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Instance Type" formControlName="instanceType" required>
      <mat-option *ngFor="let instanceType of instanceTypes" [value]="instanceType">
        {{instanceType}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Number of Instances" formControlName="numOfInstances" name="numOfInstances">
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-select formControlName="amiId" placeholder="AMI ID" #singleSelect>
      <ngx-mat-select-search formControlName="amiFilterId"></ngx-mat-select-search>
      <mat-option *ngFor="let bank of filteredAmis | async" [value]="bank.id">
        {{bank.desc}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Security Group" formControlName="securityGroup" required>
      <mat-option *ngFor="let securityGroup of securityGroups" [value]="securityGroup.name">
        {{securityGroup.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="SSH Key Pair" formControlName="sshKeyPair" required>
      <mat-option *ngFor="let sshKeyPair of sshKeyPairs" [value]="sshKeyPair">
        {{sshKeyPair}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Bid Price" formControlName="bidPrice" name="bidPrice">
    <mat-icon matPrefix>$</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="startPicker" [min]="minDate" placeholder="Schedule Start Date" formControlName="scheduleStartDate">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="endPicker" [min]="minDate" placeholder="Schedule End Date" formControlName="scheduleEndDate">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Days of Week" formControlName="scheduleDays" multiple>
      <mat-option *ngFor="let day of keys(daysOfWeek)" [value]="daysOfWeek[day]">{{day}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
  <div class="example-full-width" style="color: #796b6b">Start Time</div>
  <div style="color: #796b6b" class="example-full-width">End Time</div>
  </div>
<div class="example-full-width">
    <ngb-timepicker formControlName="startTimeNGB"></ngb-timepicker>
    <!--<pre>Selected time: {{startTimeNGB?.value | json}}</pre>-->
</div>

<div class="example-full-width">
    <ngb-timepicker formControlName="endTimeNGB"></ngb-timepicker>
  <!--<pre>Selected time: {{endTimeNGB?.value | json}}</pre>-->
</div>
<!--<mat-form-field class="example-full-width">-->
    <!--<input matInput [ngxTimepicker]="startTimePicker" formControlName="startTime" placeholder="Start Time">-->
    <!--<ngx-material-timepicker #startTimePicker></ngx-material-timepicker>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput [ngxTimepicker]="endTimePicker" formControlName="endTime" placeholder="End Time">-->
    <!--<ngx-material-timepicker #endTimePicker></ngx-material-timepicker>-->
  <!--</mat-form-field>-->

  <!--<mat-form-field class="example-full-width">-->
    <!--<div class="input-group" moment-picker="ctrl.timepicker" format="HH:mm:ss">-->
    <!--<span class="input-group-addon">-->
        <!--<i class="octicon octicon-clock"></i>-->
    <!--</span>-->
      <!--<input matInput class="form-control" placeholder="Select End time" ng-model="ctrl.timepicker" ng-model-options="{ updateOn: 'blur' }" formControlName="endTime">-->
    <!--</div>-->
  <!--</mat-form-field>-->

</form>

</mat-card-content>

<mat-card-actions>
  <button mat-raised-button (click)="schedule()" color="#0d5fad">Schedule</button>
</mat-card-actions>
</mat-card>
