<mat-card class="schedular-card">
  <mat-card-header>
    <mat-card-title><span id="message">SpotInstance Request Successfully Scheduled for below Details.</span></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem"><span class="ParameterHeader">Spin Request ID: </span>{{spInUtReqId}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Region: </span>{{region}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Instance Type: </span>{{instanceType}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Number Of Instances: </span>{{numOfInstances}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">AMI ID: </span>{{amiId}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Security Group: </span>{{securityGroup}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">SSH Key Pair: </span>{{sshKeyPair}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Bid Price: </span>{{bidPrice}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Schedule Start Date: </span>{{scheduleStartDate | date:'yyyy/MM/dd'}}</mat-list-item>
      <mat-list-item role="listitem"><span class="ParameterHeader">Schedule End Date: </span>{{scheduleEndDate | date:'yyyy/MM/dd'}}</mat-list-item>

      <mat-list-item role="listitem"><span class="ParameterHeader">Schedule Days: </span>
        <mat-list-item *ngFor="let day of scheduleDays">{{day}}</mat-list-item>
      </mat-list-item>
    </mat-list>


  </mat-card-content>

  <mat-card-actions>
    <!--<button mat-raised-button (click)="toggleTimeline(5)" color="primary">Schedule Another Spot Request</button>-->
  </mat-card-actions>
</mat-card>
